.profile {
  width: 50%;
  min-width: 480px;
  min-height: 300px;
  border: 3px solid black;
  border-radius: 40px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border: 3px solid black;
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10%;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 100%;
}

.username {
  font-size: 3rem;
  font-weight: 600;
}

.username.long {
  font-size: 1.5rem;
  font-weight: 600;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 50%;
  min-width: 480px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.options-svg {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  stroke: black;
  transition: 0.2s linear;
}

.options-svg:hover {
  color: gray;
  stroke: gray;
}

.user-attributes {
  display: flex;
  justify-content: space-around;
  width: 75%;
  font-size: 1.25rem;
}

.follow-btn {
  width: 75%;
  font-size: 1.5rem;
  border-radius: 30px;
  border: 3px solid green;
  padding: 5px;
  background-color: limegreen;
  transition: 0.2s linear;
}

.follow-btn:hover {
  background-color: lightgreen;
}

.follow-btn:active {
  transform: scale(1.05);
}

.unfollow-btn {
  width: 75%;
  font-size: 1.5rem;
  border-radius: 30px;
  border: 3px solid maroon;
  background-color: crimson;
  padding: 5px;
  transition: 0.2s linear;
}

.unfollow-btn:hover {
  background-color: lightcoral;
}

.unfollow-btn:active {
  transform: scale(1.05);
}

@media (max-width: 1800px) {
  .username {
    font-size: 2rem;
  }
  .username.long {
    font-size: 1rem;
  }
}

@media (max-width: 1450px) {
  .username.long {
    font-size: 0.8rem;
  }
}

@media (max-width: 1300px) {
  .username {
    font-size: 1.3rem;
  }
  .username.long {
    font-size: 0.55rem;
  }
}

@media (max-width: 1300px) {
  .avatar {
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
  }
  .profile {
    min-height: 200px;
  }
  .username {
    font-size: 1.25rem;
  }
  .username.long {
    font-size: 0.6rem;
  }
  .user-attributes {
    font-size: 0.9rem;
  }

  .follow-btn {
    font-size: 1rem;
  }
}
