@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem;
}

.navBarMainLinks {
    font-size: 2rem;
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.75rem;
}

.navBarMainLinks:hover {
    background-color: lightgray;
}

.navBarAuthLinks {
    font-size: 1rem;
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

.navBarAuthLinks:hover {
    background-color: lightgray;
}