.login {
    background-color: white;
    padding: 5rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1rem;
}

.loginTitle {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.loginCaption {
    margin-top: 2rem;
    font-weight: bolder;
}

.loginButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.loginBtn {
    text-decoration: none;
    color: black;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    font-weight: bolder;
}

.loginBtn:hover {
    background-color: lightgray;
}

.loginBtn:active {
    background-color: white;
}

.loginInput {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    width: 20rem;
}

.loginInput:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}